.nav-bar {
  height: 40px;
  background-color: rgb(39, 42, 56);
  display: flex;
  align-items: center;
}

.navbar-div-1 {
  color: white;
  font-size: 15px;
  margin-left: 15px;
  padding: 7px;
}

.navbar-div {
  color: white;
  font-size: 15px;
  padding: 7px;
}